@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Glass.Mapper.Sc.Mvc
@using Helix.Feature.Projects.Models.Interface

@model IProject

<div class="col-md-4 col-sm-6 portfolio-item">
    <a href="#portfolioModal1" class="portfolio-link">
        <div class="portfolio-hover">
            <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
            </div>
        </div>
        <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
    </a>
    <div class="portfolio-caption">
        <h4>@Model.Name</h4>
        <p class="text-muted">Graphic Design</p>
    </div>
</div>