@using Sitecore.Mvc.Presentation
@using Helix.Feature.Projects.Models.Interface

@model IProjectCollection

@if ((Model != null && Model.Projects != null && Model.Projects.Any()) || Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="row">
        @foreach (IProject project in Model.Projects)
        {
            Html.RenderPartial("_Project", project);
        }
    </div>
}


<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    
</div>