@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.DynamicPlaceholders.Helpers

@model RenderingModel

<div class="col-md-4">
    @Html.Sitecore().TrueDynamicPlaceholder("Grid.4x4x4.Left")
</div>
<div class="col-md-4">
    @Html.Sitecore().TrueDynamicPlaceholder("Grid.4x4x4.Middle")
</div>
<div class="col-md-4">
    @Html.Sitecore().TrueDynamicPlaceholder("Grid.4x4x4.Right")
</div>