################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Helix.sln/.vs/Helix/v15
/packages
/src/Project/Website/code/obj/Debug
*.user
/node_modules
/src/Foundation/Serialization/code/obj/Debug
/Libraries
/src/Feature/Metadata/code/obj/Debug
/src/Feature/PageContent/code/obj/Debug
/src/Foundation/ORM/code/obj/Debug
/src/Foundation/MultiTenant/code/obj/Debug
