################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Helix.sln/.vs/Helix/v15
/packages
/src/Project/Website/code/obj/Debug
*.user
