<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Foundation Serialization">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Serialization\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Settings -->
            <include name="Helix.Settings.Feature" database="master" path="/sitecore/system/Settings/Feature">
              <exclude children="true" />
            </include>
            <include name="Helix.Settings.Foundation" database="master" path="/sitecore/system/Settings/Foundation">
              <exclude children="true" />
            </include>

            <!-- Templates -->
            <include name="Helix.Templates.Feature" database="master" path="/sitecore/templates/Feature">
              <exclude children="true" />
            </include>
            <include name="Helix.Templates.Foundation" database="master" path="/sitecore/templates/Foundation">
              <exclude children="true" />
            </include>
            <include name="Helix.Templates.Project" database="master" path="/sitecore/templates/Project">
              <exclude children="true" />
            </include>

            <!-- Branches -->
            <!--<include name="Helix.Branches.Foundation" database="master" path="/sitecore/templates/branches/Foundation">
              <exclude children="true" />
            </include>
            <include name="Helix.Branches.Feature" database="master" path="/sitecore/templates/branches/Feature">
              <exclude children="true" />
            </include>-->

            <!-- Renderings -->
            <include name="Helix.Renderings.Feature" database="master" path="/sitecore/layout/renderings/Feature">
              <exclude children="true" />
            </include>
            <include name="Helix.Renderings.Foundation" database="master" path="/sitecore/layout/renderings/Foundation">
              <exclude children="true" />
            </include>
            <include name="Helix.Renderings.Project" database="master" path="/sitecore/layout/renderings/Project">
              <exclude children="true" />
            </include>

            <!-- Layouts -->
            <include name="Helix.Layouts.Project" database="master" path="/sitecore/layout/layouts/Project">
              <exclude children="true" />
            </include>

            <!-- Placeholder Settings -->
            <include name="Helix.PlaceholderSettings.Feature" database="master" path="/sitecore/layout/placeholder settings/Feature">
              <exclude children="true" />
            </include>
            <include name="Helix.PlaceholderSettings.Foundation" database="master" path="/sitecore/layout/placeholder settings/Foundation">
              <exclude children="true" />
            </include>
            <include name="Helix.PlaceholderSettings.Project" database="master" path="/sitecore/layout/placeholder settings/Project">
              <exclude children="true" />
            </include>

            <!-- Models -->
            <include name="Helix.Models.Feature" database="master" path="/sitecore/layout/models/Feature">
              <exclude children="true" />
            </include>
            <include name="Helix.Models.Foundation" database="master" path="/sitecore/layout/models/Foundation">
              <exclude children="true" />
            </include>
            <include name="Helix.Models.Project" database="master" path="/sitecore/layout/models/Project">
              <exclude children="true" />
            </include>

            <!-- Core templates -->
            <include name="Helix.Core.Templates.Feature" database="core" path="/sitecore/templates/Feature">
              <exclude children="true" />
            </include>
            <include name="Helix.Core.Templates.Foundation" database="core" path="/sitecore/templates/Foundation">
              <exclude children="true" />
            </include>

            <!-- Speak Applications -->
            <include name="Helix.Core.Speak.Feature" database="core" path="/sitecore/client/Applications/Feature">
              <exclude children="true" />
            </include>
            <include name="Helix.Core.Speak.Foundation" database="core" path="/sitecore/client/Applications/Foundation">
              <exclude children="true" />
            </include>
            
            <!-- Field Buttons (Experience Editor) -->
            <include name="Helix.Core.WebEdit.Buttons.Feature" database="core" path="/sitecore/content/Applications/WebEdit/Common Field Buttons/Feature">
              <exclude children="true" />
            </include>

            <!-- Tasks -->
            <!--<include name="Helix.Tasks.Schedules.Feature" database="master" path="/sitecore/system/Tasks/Schedules/Feature">
              <exclude children="true" />
            </include>-->
            
            <!-- Commands -->
            <!--<include name="Helix.Tasks.Commands.Feature" database="master" path="/sitecore/system/Tasks/Commands/Feature">
              <exclude children="true" />
            </include>-->

          </predicate>
        </configuration>
        <configuration name="Foundation.Serialization.Content" description="Foundation Serialization Content" dependencies="Foundation.Serialization,Foundation.MultiTenant">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\Serialization\Serialization\Content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singlInstance="true">

            <!-- Media -->
            <include name="Helix.Media.Foundation" database="master" path="/sitecore/media library/Foundation">
              <exclude children="true" />
            </include>
            <include name="Helix.Media.Feature" database="master" path="/sitecore/media library/Feature">
              <exclude children="true" />
            </include>
            <include name="Helix.Media.Project" database="master" path="/sitecore/media library/Project">
              <exclude children="true" />
            </include>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>