@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@using Helix.Feature.PageContent.Models

@model IHero

@if (Model != null || Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">@Html.Glass().Editable(x => x.LeadInTitle)</div>
            <div class="intro-heading">@Html.Glass().Editable(x => x.Heading)</div>
            <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
}
