<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Projects" description="Feature Projects Serialization" dependencies="Foundation.Serialization,Foundation.MultiTenant" patch:after="configuration[name='Foundation.MultiTenant']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Projects\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Projects.Reanderings" database="master" path="/sitecore/layout/renderings/feature/projects" />
            <include name="Feature.Projects.Templates" database="master" path="/sitecore/templates/feature/projects" />
            <include name="Feature.Projects.Core.FieldButtons" database="core" path="/sitecore/content/Applications/WebEdit/Common Field Buttons/Feature/Projects" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>