<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Services" description="Feature Services Serialization" dependencies="Foundation.Serialization,Foundation.MultiTenant" patch:after="configuration[name='Foundation.MultiTenant']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Services\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Services.Reanderings" database="master" path="/sitecore/layout/renderings/feature/services" />
            <include name="Feature.Services.Templates" database="master" path="/sitecore/templates/feature/services" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>