<?xml version="1.0" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Media.RequestExtension">
        <patch:attribute name="value"></patch:attribute>
      </setting>
    </settings>
    <linkManager>
      <patch:attribute name="defaultProvider" value="general"></patch:attribute>
      <providers>
        <clear />
        <add name="general"
              type="Helix.Foundation.Urls.Configuration.LinkManager, Helix.Foundation.Urls"
              addAspxExtension="false"
              alwaysIncludeServerUrl="false"
              encodeNames="true"
              languageEmbedding="never"
              languageLocation="filePath"
              shortenUrls="true"
              lowercaseUrls="true"
              useDisplayName="false" />
      </providers>
    </linkManager>
    <events timingLevel="custom">
      <event name="item:added">
        <handler type="Helix.Foundation.Urls.Configuration.ItemHandler, Helix.Foundation.Urls" method="OnItemAdded" />
      </event>
      <event name="item:renamed">
        <handler type="Helix.Foundation.Urls.Configuration.ItemHandler, Helix.Foundation.Urls" method="OnItemRenamed" />
      </event>
    </events>
  </sitecore>
</configuration>