@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Helix.Feature.Navigation.Models
@using Glass.Mapper.Sc.Web.Mvc

@model INavigation

@if (Model != null || Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a class="page-scroll" href="#services">Services</a>
            </li>
            <li>
                <a class="page-scroll" href="#portfolio">Portfolio</a>
            </li>
            <li>
                <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
                <a class="page-scroll" href="#team">Team</a>
            </li>
            <li>
                <a class="page-scroll" href="#contact">Contact</a>
            </li>
        </ul>
    </div>

    @*<ul class="list-inline quicklinks">
        <li>
            <a href="#">Privacy Policy</a>
        </li>
        <li>
            <a href="#">Terms of Use</a>
        </li>
    </ul>*@
}