@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Helix.Feature.Navigation.Models
@using Glass.Mapper.Sc.Web.Mvc

@model INavigation

@if (Model != null && Model.Links != null && Model.Links.Any() || Sitecore.Context.PageMode.IsExperienceEditor)
    {
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            @foreach (INavigationItem navItem in Model.Links)
            {
                string cssClass = (!string.IsNullOrEmpty(navItem.Link.Target) ? "page-scroll" : String.Empty);

                <li>
                    @using (Html.Glass().BeginRenderLink(navItem, x => x.Link, new { @class = cssClass }))
                    {
                        @Html.Glass().Editable(navItem, x => x.Title);
                    }
                </li>
            }
        </ul>
    </div>
}