@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.DynamicPlaceholders.Helpers
@using Helix.Feature.Structural.Models

@model IParametersTemplateGridSettings

<div id="@((Model != null && !string.IsNullOrEmpty(Model.ElementId)) ? Model.ElementId : string.Empty)" class="container @((Model != null && !string.IsNullOrEmpty(Model.Classes)) ? Model.Classes : string.Empty)">
    <div class="row">
        @Html.Sitecore().TrueDynamicPlaceholder("Grid.Container")
    </div>
</div>