@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Foundation.DynamicPlaceholders.Helpers
@using Helix.Feature.Structural.Models.Parameters

@model IGridSettings

<section id="@((Model != null && !string.IsNullOrEmpty(Model.ElementId)) ? Model.ElementId : string.Empty)" class="@((Model != null && !string.IsNullOrEmpty(Model.Classes)) ? Model.Classes : string.Empty)">
    @Html.Sitecore().TrueDynamicPlaceholder("Grid.Section")
</section>