<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sourceFolder" value="C:\Development\Helix-Start-Bootstrap\src" />
    <sc.variable name="rootHostName" value="helix-agency.local" />
    <settings>
      <setting name="Xdb.Tracking.Enabled">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="Xdb.Enabled">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>