<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Agency" description="Agency Website" dependencies="Foundation.Serialization,Foundation.MultiTenant,Project.Common" patch:after="configuration[name='Project.Common']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\Agency\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Project.Agency.Templates" database="master" path="/sitecore/Templates/Project/Agency" />
            <include name="Project.Agency.Layouts" database="master" path="/sitecore/layout/Layouts/Project/Agency" />

          </predicate>
        </configuration>
        <!-- This configuration is just for testing -->
        <configuration name="Project.Agency.Content" description="Agency Website Content" dependencies="Project.Agency" patch:after="configuration[name='Project.Agency']">
          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true" />
          <targetDataStore physicalRootPath="$(sourceFolder)\Project\Agency\Serialization\Content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include nmae="Project.Agency.Content" database="master" path="/sitecore/content/agency" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>