@using Sitecore.Mvc.Presentation
@using Glass.Mapper.Sc.Web.Mvc
@using Helix.Feature.Services.Models

@model IServiceCollection

@if ((Model != null && Model.Services != null && Model.Services.Any()) || Sitecore.Context.PageMode.IsExperienceEditor)
{
<div class="row text-center">
    @foreach (IService service in Model.Services)
    {
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">@Html.Glass().Editable(service, x => x.Title)</h4>
            <p class="text-muted">@Html.Glass().Editable(service, x => x.Summary)</p>
        </div>
    }
</div>
}
