<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Navigation" description="Feature Navigation Serialization" dependencies="Foundation.Serialization" patch:after="configuration[name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Navigation\Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Navigation.Renderings" database="master" path="/sitecore/layout/renderings/feature/navigation" />
            <include name="Feature.Navigation.Templates" database="master" path="/sitecore/templates/feature/navigation" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>