@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Glass.Mapper.Sc.Web.Mvc
@using Helix.Feature.Members.Models

@model IMemberCollection

@if ((Model != null && Model.Members != null && Model.Members.Any()) || Sitecore.Context.PageMode.IsExperienceEditor)
{
    foreach (IMember member in Model.Members)
    {
        <div class="col-sm-4">
            <div class="team-member">
                @Html.Glass().RenderImage(member, x => x.Thumbnail, new { @class = "img-responsive img-circle" })
                <h4>@Html.Glass().Editable(member, x => x.Name)</h4>
                <p class="text-muted">@Html.Glass().Editable(member, x => x.Position)</p>
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    }
}


